/* Typography */
h1 {
  font-size: 6vw;
  margin:0px;
}

h2 {
  font-size: 4.5vw;
  padding-bottom:10px;
  font-weight: bold;
}

.my-title {
  text-transform: capitalize;
}

.my-title-arrow {
  padding-right: 2vw;
  padding-left:20px;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

.menu-icon {
  font-size: 5vw;
  border: 0px;
  transition: 0.5s;
}

.title {
  text-transform: capitalize;
}

.plain_text {
  font-size: 4.5vw;
}

.purple {
  /* ffabe1 ffe6e6 */
  color: #6155a6;
}

.my-topnav a {
  color: #444444; /*#f2f2f2*/
  text-align: center;
  padding: 6px 13px;
  text-decoration: none;
}

.my-topnav a:hover {
  /*border-bottom: 3px solid #ffabe1;*/
  color: #212121;
}

.my-topnav a.active {
  /*border-bottom: 3px solid #ffe6e6;*/
  color: #000000;
  font-weight: bold;
}




/* Layout */
.my-page-container {
  margin:0;
  padding:0;
}

.my-navbar-toggler:focus,
.my-navbar-toggler:active,
.my-navbar-toggler {
  border: none;
  outline: none;
  padding: 5px;
  margin: 10px;
  z-index: 1000;
}



.my-topnav {
  overflow: hidden;
  margin-bottom: 10px;
}

.my-navbar {
  margin:0px;
  padding:0px;
  margin-bottom: 15px;
}

nav {
  padding:0px;
}

.navbar-collapse {
  /*HERE*/
  margin:0px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.my-navbar-nav li {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  padding-left: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Containers */
.my-box {
  padding: 15px;
  margin-bottom: 20px;
}

.my-title-box {
  padding: 15px;
  padding-top: 0px;
}

.my-rounded {
  border-radius: 20px;
}

.my-row {
  padding-bottom:7px;
}

.sensor-icon {
	font-size: 4.5vw;
}

.nav-arrows {
  margin-left: 3vw;
  margin-right: 3vw;
}

.navbar-brand {}

.nav-item {}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 30px; 
  }

  h2 {
    font-size: 25px; 
    padding-bottom: 10px;
    font-weight: bold;
  }

  .plain_text {
    font-size: 20px;
  }

  .menu-icon {
    font-size: 30px;  
  }
}