(% macro horizontal_bar_chart(values, labels) %)

	<canvas id="theChart"></canvas>

	<script>
	Chart.defaults.global.defaultFontSize = getPxFromVw(4.5, 20);
	Chart.defaults.global.defaultFontColor = 'black';
	var ctx = document.getElementById('theChart').getContext('2d');
	var myBarChart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: {
	      labels: (( labels|safe )),
	      datasets: [{ 
	      	  data: (( values|safe )),
	          backgroundColor: ["#6155a6", "#a685e2" ],
	          fill: false,
	          datalabels: {
		        align: 'end',
		        anchor: 'end',
		        clamp: true
		      }
	        }]
	    },
	    options: {
	      responsive: true, 
	      maintainAspectRatio: false,      
	      legend: {
	        display: false
	      },
	      scales: {
	        xAxes: [{
	            ticks: {
	                //min: 0,
	                display: false,
		            beginAtZero: true,
		            callback: function(value, index, values) {
                        return '' + value;
                    }
	            }, gridLines: {
	              display:false
	            }
	        }],
	        yAxes: [{
	            stacked: true,
	            gridLines: {
	              display:false
	            }
	        }]
	      },
	      plugins: {
	        datalabels: {
	          color: 'black',
	          font: {
	            weight: 'bold'
	          },
	          formatter: Math.round
	        }
	      },
	      layout:{
	      	padding: {
	      		right: 30
	      	}
	      }
	    }
	});  
	</script>

(% endmacro %)


(% macro vertical_bar_chart(labels, values) %)

	<canvas id="theVChart"></canvas>

	<script>
	Chart.defaults.global.defaultFontSize = getPxFromVw(4.5, 20);
	Chart.defaults.global.defaultFontColor = 'black';
	var ctx = document.getElementById('theVChart').getContext('2d');
	var myBarChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	      labels: ((labels|safe)),
	      datasets: [
	        {
	          backgroundColor: "#6155a6",
	          data: (( values|safe ))
	        }
	      ]
	    },
	    options: {
	      responsive: true, 
	      maintainAspectRatio: false,
	      aspectRatio: 1.5,    
	      legend: {
	        display: false
	      },
	      title: {
	        display: false,
	      },
	      scales: {
	        xAxes: [{
	            ticks: {
	                min: 1,
	                display: true,
	                //callback: function(value, index, values) {
                    //    return value.split("-").pop();
                    //}
	            }, gridLines: {
	              display:false
	            }
	        }],
	        yAxes: [{
	            stacked: true,
	            gridLines: {
	              display:false
	            }
	        }]
	      },
	      plugins: {
	        datalabels: {
	          color: 'white',
	          font: {
	            weight: 'bold'
	          }
	        }
	      }
	    }
	});  
	</script>

(% endmacro %)
