(% extends 'base.html' %)

(% block title %) Welcome! (% endblock %)

(% block content %)

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
  </ol>
</nav>

<a href="solar">
    <div class="container sensor">
        <h1>Solar panel</h1>
        <div class="row">
            <div class="col sensor-reading">
                <div class="">
                    <i class="fas fa-plug sensor-icon"></i> 
                    <span class="sensor-value">(( solar.power ))</span> 
                    <span class="sensor-unit">W</span>
                </div>
                <div><span class="sensor-text">Power</span></div>
            </div>
            <div class="col sensor-reading">
                <div class="sensor-reading">
                    <i class="fas fa-solar-panel sensor-icon"></i> 
                    <span class="sensor-value">(( solar.energy ))</span> 
                    <span class="sensor-unit">kWh</span>
                </div>
                <div><span class="sensor-text">Energy</span></div>
            </div>
            <div class="col sensor-reading">
                <div class="sensor-timestamp">(( solar.updated.split(' ')[0] ))</div>
                <div class="sensor-timestamp">(( solar.updated.split(' ')[1] ))</div>
                <div><span class="sensor-text">Registered</span></div>
            </div>
        </div>
    </div>
</a>

<br/><br/>
<div class="container">
(% for sensor in sensors %)
    (% if sensor is not none %)
    
    <h1>
        <i class="fas fa-thermometer-half sensor-icon"></i>
        (( sensor.name ))

    </h1>

    (% endif %)
(% endfor %)
</div>

(% for sensor in sensors %)
    (% if sensor is not none %)
    <a href="(( sensor.name ))">
        <div class="container sensor">
            <h1>(( sensor.name ))</h1>
            <div class="row">
                <div class="col sensor-reading">
                    <div class="">
                        <i class="fas fa-thermometer-half sensor-icon"></i>  
                        <span class="sensor-value">(( sensor.temperature ))</span> 
                        <span class="sensor-unit">&deg;C</span>
                    </div>
                    <div><span class="sensor-text">Temperature</span></div>
                </div>
                <div class="col sensor-reading">
                    <div class="sensor-reading">
                        <i class="fas fa-tint sensor-icon"></i> 
                        <span class="sensor-value">(( sensor.humidity ))</span> 
                        <span class="sensor-unit">%</span>
                    </div>
                    <div><span class="sensor-text">Humidity</span></div>
                </div>
                <div class="col sensor-reading">
                    <div class="sensor-timestamp">(( sensor.updated.split(' ')[0] ))</div>
                    <div class="sensor-timestamp">(( sensor.updated.split(' ')[1] ))</div>
                    <div><span class="sensor-text">Registered</span></div>
                </div>
            </div>
        </div>
    </a>
    <br/><br/>
    (% endif %)
(% endfor %)
(% endblock %)