(% extends 'base.html' %)

(% block title %) Welcome! (% endblock %)

(% block content %)

<!--nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
  </ol>
</nav-->

<br/>

<div class="container"> 
    <a href="solar">
        <div class="alert alert-primary d-flex" role="alert">
            <div class="mr-auto p-2">
                <h1 class="mb-0">Solar panel</h1>
            </div>
            <div class="p-2">
                <h1 class="mb-0">
                    <i class="fas fa-plug sensor-icon"></i> 
                    (( solar.power ))
                </h1>
            </div>
        </div>
    </a>
</div>

<!--i class="fas fa-solar-panel"></i-->
<!--i class="fas fa-faucet"></i-->

<div class="container">
(% for sensor in sensors %)
    <a href="/v2/(( sensor ))/latest">    
        <div class="alert alert-success d-flex" id="sensor_block_((sensor))" role="alert">
            <div class="mr-auto p-2">
                <h1 class="mb-0">(( sensor ))  </h1>
            </div>
            <div class="p-2">
                <h1 class="mb-0" id="sensor_(( sensor ))">
                    <i class="fas fa-circle-notch fa-spin" ></i>
                    <i class="fas fa-thermometer-half sensor-icon" style="visibility: hidden"></i>
                    <span></span>
                </h1>
            </div>
        </div>
    </a>
    <script>
        jQuery.ajax({
            url: "/api/v2/sensors/(( sensor|safe ))/latest",
            type: 'GET',
            data: null,
            contentType: 'application/json;charset=UTF-8',
            success: function(evt) {
                console.log(evt)
                $("#sensor_((sensor)) *:nth-child(3)").html(evt.temperature.display_value + evt.temperature.unit);
                $("#sensor_((sensor)) *:nth-child(2)").css('visibility', 'visible');
                $("#sensor_((sensor)) *:nth-child(1)").css('visibility', 'hidden');
                if (evt.age >= 1 && evt.age < 2){ 
                    $("#sensor_block_((sensor))").addClass('alert-warning');   
                }
                if (evt.age >= 2){
                    $("#sensor_block_((sensor))").addClass('alert-danger'); 
                }
            },
            error: function(errormsg){
                console.log(errormsg)
                $("#sensor_((sensor)) *:nth-child(3)").html(':(');
                $("#sensor_((sensor)) *:nth-child(2)").css('visibility', 'visible');
                $("#sensor_((sensor)) *:nth-child(2)").css('visibility', 'hidden');
                $("#sensor_((sensor)) *:nth-child(1)").css('visibility', 'hidden');
            }
        }); 
    </script>
(% endfor %)
</div>


(% endblock %)