(% extends 'base.html' %)

(% block title %) Welcome! (% endblock %)

(% block content %)

<div class="">  
    <div class="container">
        <h1>Krypgrund</h1>

        <div class="row">
            <div class="col dashboard_value">
                <p><i class="fas fa-thermometer-half"></i> (( basement_json['temperature'] )) &deg;C</p>
            </div>
            <div class="col dashboard_value">
                <i class="fas fa-tint"></i> (( basement_json['humidity'] )) %
            </div>
             
        </div>
        <div class="row">
            <div class="col-sm-12">
                Uppmättes (( basement_json['timestamp'] ))
            </div>
        </div> 
    </div>
</div>

<div class="">  
    <div class="container">
        <h1>Utomhus</h1>

        <div class="row">
            <div class="col dashboard_value">
                <p><i class="fas fa-thermometer-half"></i> (( outdoor_json['temperature'] )) &deg;C</p>
            </div>
            <div class="col dashboard_value">
                <i class="fas fa-tint"></i> (( outdoor_json['humidity'] )) %
            </div>
             
        </div>
        <div class="row">
            <div class="col-sm-12">
                Uppmättes (( outdoor_json['timestamp'] ))
            </div>
        </div> 
    </div>
</div>
(% endblock %)