(% extends 'base.html' %)

(% block head_title %) sign in (% endblock %)

(% block page_content %)

<form action="/login" method="POST">
  
<div class="container text-center centered">  
  	<div class="row mt-2">
		<div class="col">
    		<input class="form-control form-control-lg" name="username" type="text" placeholder="username">
		</div>
	</div>
	<div class="row mt-2">
		<div class="col">
    		<input class="form-control form-control-lg" name="password" type="password" placeholder="password">
    	</div>
	</div>

	<div class="row mt-2">
		<div class="col">
			<button type="submit" class="form-control form-control-lg system-color">Sign in</button>
		</div>
	</div>  
</div>  
</form>
(% endblock %)