(% extends 'base.html' %)
(% block title %) (( sensor.name )) (% endblock %)
(% block content %)

<div class="container">
  <div class="my-title my-title-box">
    <h1>
      <a href="/"><i class="fas fa-arrow-left my-title-arrow"></i></a>
      <b>(( sensor.name ))</b>
    </h1>
  </div>
</div>

<div class="container">
  <div class="topnav bg-light my-topnav plain_text">
    <a href="/v2/((sensor.name))/latest" class="active">Latest</a>
    <a href="/v2/((sensor.name))/week">Week</a>
    <a href="/v2/((sensor.name))/month">Month</a>
  </div>
</div>

<div class="container">
  <div class="container my-box my-rounded bg-white plain_text">
      <div class="row plain_text my-row">
        <div class="col-5">Temperature</div>
        <div class="col-7">
          (( sensor.temperature.display_value ))
          (( sensor.temperature.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Humidity</div>
        <div class="col-7">
          (( sensor.humidity.display_value ))
          (( sensor.humidity.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Registered</div>
        <div class="col-7">(( sensor.updated.display_value ))</div>
      </div>
  </div>
</div>

(% endblock %)