(% extends 'base.html' %)

(% block title %) Welcome! (% endblock %)

(% block content %)

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active title" aria-current="page">(( sensor.name ))</li>
  </ol>
</nav>

<div class="container sensor">
    <h1>(( sensor.name ))</h1>
    <div class="row">
        <div class="col sensor-reading">
            <div class="">
                <i class="fas fa-thermometer-half sensor-icon"></i>  
                <span class="sensor-value">(( sensor.temperature.display_value ))</span> 
                <span class="sensor-unit">(( sensor.temperature.unit ))</span>
            </div>
            <div><span class="sensor-text">Temperature</span></div>
        </div>
        <div class="col sensor-reading">
            <div class="sensor-reading">
                <i class="fas fa-tint sensor-icon"></i> 
                <span class="sensor-value">(( sensor.humidity.display_value ))</span> 
                <span class="sensor-unit">(( sensor.humidity.unit ))</span>
            </div>
            <div><span class="sensor-text">Humidity</span></div>
        </div>
        <div class="col sensor-reading">
            <div class="sensor-timestamp">(( sensor.updated.split(' ')[0] ))</div>
            <div class="sensor-timestamp">(( sensor.updated.split(' ')[1] ))</div>
            <div><span class="sensor-text">Registered</span></div>
        </div>
    </div>
</div>

<br/><br/>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link ((active[0]))" href="/((sensor.name))">Day</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ((active[1]))" href="/((sensor.name))/week">Week</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ((active[2]))" href="/((sensor.name))/month">Month</a>
    </li>
  </ul>
</div>

<br/>
<div class="container">
  <p class="text-left">Average (( history.temperature_avg )) &deg;C, (( history.humidity_avg )) %</p>
</div>


<div class="container">
  <canvas id="theChart"></canvas>
</div>

<script>
function get_options(title) {
  var options = {
      title: {
        display: true,
        text: title
      },
      aspectRatio: 1,
      scales: {
        xAxes: [{
          ticks: {
            autoSkip: true,
            maxRotation: 90,
            minRotation: 90
          }
        }]
      }
    };
  return options;  
}

var ctx = document.getElementById('theChart').getContext('2d');
var chart_options = get_options('');
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: (( history.timestamps|safe )),
    datasets: [{ 
        data: (( history.humidities|safe )),
        label: "Humidity",
        borderColor: "#3e95cd",
        fill: false
      },{ 
        data: (( history.temperatures|safe )),
        label: "Temperature",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: chart_options
});
</script>

(% endblock %)