(% extends 'base.html' %)
(% block title %) (( sensor.name )) (% endblock %)
(% block nav_title %) (( back_to('/') )) (% endblock %)

(% block content %)

(( heading(sensor.name) ))

<div class="container">

  (( sensor_submenu(request.url, sensor.name) ))

  <div class="container my-box my-rounded bg-white plain_text">
      <div class="row plain_text my-row">
        <div class="col-5">Temperature</div>
        <div class="col-7">
          (( sensor.temperature.display_value ))
          (( sensor.temperature.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Humidity</div>
        <div class="col-7">
          (( sensor.humidity.display_value ))
          (( sensor.humidity.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Registered</div>
        <div class="col-7">(( sensor.updated.display_value ))</div>
      </div>
  </div>

  <div class="container bg-white my-box my-rounded">

    <canvas id="theChart"></canvas>
  </div>  
</div>
<script>
          
Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontColor = 'black';
var ctx = document.getElementById('theChart').getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
    labels: ['Max', 'Min'],
      datasets: [{ 
          data: [(( min_max.max.temperature.value|safe )), (( min_max.min.temperature.value|safe ))],
          backgroundColor: ["#6155a6", "#a685e2" ],
          fill: false
        }
      ]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
            ticks: {
                min: 1,
                display: false
            }, gridLines: {
              display:false
            }
        }],
        yAxes: [{
            stacked: true,
            gridLines: {
              display:false
            }
        }]
      }
    }
});  
</script>

(% endblock %)