(% extends 'base.html' %)

<!-- head -->
(% block head_title %) Homie - (( name )) (% endblock %)

<!-- body -->
(% block navigation_title %) 
  (( back_to('/') )) 
(% endblock navigation_title %)

(% block page_content %)

  (( heading(name) ))

  <div class="container">

    (( sensor_submenu(request.url, name) ))

    <div class="container my-box my-rounded bg-white plain_text">
      <div class="container text-center">
        <a href="((nav.prev))"><i class="fas fa-chevron-left nav-arrows"></i></a>
        (( nav.title ))
        <a href="((nav.next))"><i class="fas fa-chevron-right nav-arrows"></i></a>
      </div>

      <div class="container">
        <canvas id="theChart"></canvas>
      </div>
    </div>
  </div>
  <script>

  Chart.defaults.global.defaultFontSize = getPxFromVw(4.5, 20);
  Chart.defaults.scale.gridLines.display = false;
  var ctx = document.getElementById('theChart').getContext('2d');
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: (( history.timestamps|safe )),
      datasets: [{ 
          data: (( history.humidities|safe )),
          label: "Humidity",
          borderColor: "#3e95cd",
          fill: false,
          yAxisID: 'right-y-axis'
        },{ 
          data: (( history.temperatures|safe )),
          label: "Temperature",
          borderColor: "#c45850",
          fill: false,
          yAxisId: 'left-y-axis'
        }
      ]
    },
    options: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: ''
      },
      aspectRatio: 1,
      scales: {
        xAxes: [{
          ticks: {
            display: false
          }
        }],
        yAxes: [{
          id: 'left-y-axis',
          type: 'linear',
          position: 'left',
          ticks: {
            stepSize: 1,
            beginAtZero: false,
          }
        },
        {
          id: 'right-y-axis', 
          type: 'linear',
          position: 'right',
          ticks: {
            stepSize: 1,
            beginAtZero: false,
          }
        }]    
      },
      elements: {
        point:{
          radius: 0
        }
      },
      legend: {
        labels: {
          boxWidth: 20  
        }
      }  
    }
  });
  </script>

(% endblock page_content %)