(% extends 'base-nav.html' %)

<!-- head -->
(% block head_title %) Homie - (( name )) (% endblock %)

<!-- body -->
(% block navigation_title %) 
  (( back_to('/') )) 
(% endblock navigation_title %)

(% block page_content %)

  (( heading(name) ))

  <div class="container">

    (( sensor_submenu(request.url, name) ))

    <div class="container my-box my-rounded bg-white plain_text">
      
      <div class="container text-center">
        (( prev_next(nav.prev, nav.title, nav.next) ))
      </div>

      <div class="container">
        (( multi_line_chart(history.timestamps, history.humidities, history.temperatures) ))

      </div>
    </div>
  </div>

(% endblock page_content %)