(% extends 'base.html' %)

(% block title %) (( sensor.name )) (% endblock %)

(% block content %)

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active title" aria-current="page">(( sensor.name ))</li>
  </ol>
</nav>

<div class="container sensor">

    <table class="table plain_text">
      <tbody>
        <tr>
          <td>Temperature</td>
          <td><i class="fas fa-thermometer-half"></i>
            (( sensor.temperature.display_value ))
            (( sensor.temperature.unit ))</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td><i class="fas fa-tint"></i> 
            (( sensor.humidity.display_value ))
            (( sensor.humidity.unit ))</td>
        </tr>
        <tr>
          <td>Registered</td>
          <td>(( sensor.updated.display_value ))</td>
        </tr>
      </tbody>
    </table>
</div>

<br/><br/>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link ((active[0]))" href="/((sensor.name))">Day</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ((active[1]))" href="/((sensor.name))/week">Week</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ((active[2]))" href="/((sensor.name))/month">Month</a>
    </li>
  </ul>
</div>

<br/>
<div class="container">
  <p class="text-left">Average (( history.temperature_avg )) &deg;C, (( history.humidity_avg )) %</p>
</div>


<div class="container">
  <canvas id="theChart"></canvas>
</div>

<script>
function get_options(title) {
  var options = {
      title: {
        display: true,
        text: title
      },
      aspectRatio: 1,
      scales: {
        xAxes: [{
          ticks: {
            autoSkip: true,
            maxRotation: 90,
            minRotation: 90
          }
        }]
      }
    };
  return options;  
}

var ctx = document.getElementById('theChart').getContext('2d');
var chart_options = get_options('');
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: (( history.timestamps|safe )),
    datasets: [{ 
        data: (( history.humidities|safe )),
        label: "Humidity",
        borderColor: "#3e95cd",
        fill: false
      },{ 
        data: (( history.temperatures|safe )),
        label: "Temperature",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: chart_options
});
</script>

(% endblock %)