(% extends 'base.html' %)
(% block title %) solar (% endblock %)
(% block content %)

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item title" style="color: #6155a6" aria-current="page">Solar panel</li>
  </ol>
</nav>

<!-- ffabe1 ffe6e6-->

<!--hr style="border:3px solid #ffabe1;margin-bottom:0px;padding-bottom:0px;"/>
<hr style="border:3px solid #ffe6e6;margin-top:0px;padding-top:0px;"/-->
<br/>

<div class="container">
  <div class="container sensor my-rounded bg-white" style="padding-top:10px;border-radius: 20px;">
      <!--h3 style="color: #6155a6">Solar panel</h3-->
      <table class="table plain_text table-borderless">
        <tbody>
          <tr>
            <td>Power</td>
            <td>(( solar.power.display_value )) (( solar.power.unit ))</td>
          </tr>
          <tr>
            <td>Energy</td>
            <td>(( solar.energy.display_value )) (( solar.energy.unit ))</td>
          </tr>
          <tr>
            <td>Registered</td>
            <td>(( solar.updated.display_value ))</td>
          </tr>
        </tbody>
      </table>
  </div>

  <br/>

  <div class="container bg-white" style="border-radius: 20px;">
    <canvas id="theChart"></canvas>
  </div>
</div>

<script>
function sum(arr){
  var sum = 0;
  for(i=0; i < arr.length; i++){
    sum += arr[i];
  }
  return sum;
}

var trend = (( history.values|safe ));
var sum = sum(trend);
var avg = sum/trend.length;

var ctx = document.getElementById('theChart').getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
    labels: ['Today', '7 day avg'],
      datasets: [{ 
          data: [((solar.energy.value|safe)), avg],
          backgroundColor: ["#6155a6", "#a685e2" ],
          fill: false
        }
      ]
    },
    options: {
      legend: {
            display: false
         },
        scales: {
            xAxes: [{
                ticks: {
                    min: 1,
                    display: false
                }, gridLines: {
                  display:false
                }
            }],
            yAxes: [{
                stacked: true,
                gridLines: {
                  display:false
                }
            }]
        }
    }
});
</script>

(% endblock %)