(% extends 'base-nav.html' %)

(% block head_title %) (( name )) (% endblock %)

(% block head_elements %)

(% endblock head_elements %)

(% block navigation_title %) (( back_to('/') )) (% endblock %)

(% block page_content %)

  (( heading('Solar panel') ))

  <div class="container">

    (( solar_submenu(request.url, 'energy/production') ))

    <div class="container my-box my-rounded bg-white plain_text">
        <div class="row plain_text my-row">
          <div class="col-5">Energy</div>
          <div class="col-7">(( solar.month.display_value )) (( solar.month.unit ))</div>
        </div>
        <div class="row plain_text my-row">
          <div class="col-5">Registered</div>
          <div class="col-7">(( solar.updated.display_value ))</div>
        </div>
    </div>

    <div class="container my-box my-rounded bg-white plain_text">
      <div class="container text-center">
        (( prev_next(nav.prev, nav.title, nav.next) ))
      </div>

      <div class="container">
        (( vertical_bar_chart(history.dates, history.values) ))
      </div>
    </div>
  </div>

(% endblock %)