(% extends 'base.html' %)
(% block title %) solar (% endblock %)
(% block content %)

<div class="container">
  <div class="container my-title-box">
    <h1>
      <a href="/"><i class="fas fa-arrow-left my-title-arrow"></i></a>
      <b>Solar panel</b>
    </h1>
  </div>
</div>

<div class="container">
  <div class="container my-box my-rounded bg-white plain_text">
      <h2>Todays production</h2>
      <div class="row plain_text my-row">
        <div class="col-5">Power</div>
        <div class="col-7">(( solar.power.display_value )) (( solar.power.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Energy</div>
        <div class="col-7">(( solar.energy.display_value )) (( solar.energy.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Registered</div>
        <div class="col-7">(( solar.updated.display_value ))</div>
      </div>
  </div>

  <div class="container bg-white my-box my-rounded">
    <h2>Short term trend</h2>
    <canvas id="theChart"></canvas>
  </div>
</div>

<script>
function sum(arr){
  var sum = 0;
  for(i=0; i < arr.length; i++){
    sum += arr[i];
  }
  return sum;
}

var trend = (( history.values|safe ));
var sum = sum(trend);
var avg = sum/trend.length;

Chart.defaults.global.defaultFontSize = 18;
var ctx = document.getElementById('theChart').getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
    labels: ['Today', '7 day avg'],
      datasets: [{ 
          data: [((solar.energy.value|safe)), avg],
          backgroundColor: ["#6155a6", "#a685e2" ],
          fill: false
        }
      ]
    },
    options: {
      legend: {
            display: false
         },
        scales: {
            xAxes: [{
                ticks: {
                    min: 1,
                    display: false
                }, gridLines: {
                  display:false
                }
            }],
            yAxes: [{
                stacked: true,
                gridLines: {
                  display:false
                }
            }]
        }
    }
});
</script>

(% endblock %)