(% extends 'base_nav.html' %)

(% block head_title %) Solar (% endblock %)  

(% block head_elements %)  
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
(% endblock head_elements %)

(% block navigation_title %) (( back_to('/') )) (% endblock %)

(% block page_content %)

  (( heading('Solar panel') ))

<div class="container">

  (( solar_submenu(request.url, 'energy/production') ))

  <div class="container my-box my-rounded bg-white plain_text">
      <div class="row plain_text my-row">
        <div class="col-5">Power</div>
        <div class="col-7">(( solar.power.display_value )) (( solar.power.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Energy</div>
        <div class="col-7">(( solar.energy.display_value )) (( solar.energy.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Registered</div>
        <div class="col-7">(( solar.updated.display_value ))</div>
      </div>
  </div>

  <div class="container bg-white my-box my-rounded">
    (( horizontal_bar_chart([solar.energy.value, history.values|sum / history.values|count], ['Today', '7 day avg']) ))

  </div>
</div>

(% endblock page_content %)