(% extends 'base_nav.html' %)

(% block head_title %) storage (% endblock %)

(% block navigation_title %) (( back_to('/') )) (% endblock %)

(% block page_content %)

  (( heading('Application') ))

<div class="container">

  (( application_submenu(request.url) ))

  <div class="container my-box my-rounded bg-white plain_text">
      <div class="row plain_text my-row">
        <div class="col-5">Size</div>
        <div class="col-7">
          (( status.size.display_value )) 
          (( status.size.unit ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Count</div>
        <div class="col-7">(( status.count ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Oldest entry</div>
        <div class="col-7">(( status.oldest ))</div>
      </div>
      <div class="row plain_text my-row">
        <div class="col-5">Newest entry</div>
        <div class="col-7">(( status.newest ))</div>
      </div>
  </div>
</div>

(% endblock page_content %)